@model IEnumerable<LawnService.Models.Product>
@{
    ViewData["Title"] = " | Manage Products";
}

<h1>class="mb-2"Product Manager</h1>

<p>
    <a asp-action="Create">Add a new product</a>
</p>
<table class="table table-bordered table-striped table-sm">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProdId ">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProdId ">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProdId ">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>